<li class="item" data-item-id="{{id}}">
    <div class="skill-item-row flexrow">
        <div class="identification table-complex-column flexrow">
            <div class=" flexrow editor-toggle">
                <img src="{{img}}" title="{{name}}" height="32" width="32"
                     alt="{{localize 'tor2e.traits.details.tech.alt'}}"/>
                <p>{{name}}</p>
            </div>
        </div>
        <div class="stat-value">
            <p class="attribute-value">{{data.data.group.value}}</p>
        </div>
        <div class="stat-value">
            <p class="attribute-value">{{data.data.protection.value}}</p>
        </div>
        <div class="stat-value">
            <p class="attribute-value">{{data.data.load.value}}</p>
        </div>
        <div class="stat-value">
            <label for="{{data.data.equipped.value}}">
                <input class="inline-edit" type="checkbox" id="{{data.data.equipped.value}}"
                       name="{{data.data.equipped.value}}"
                       data-field="data.equipped.value" data-dtype="{{data.data.equipped.type}}" {{checked
                        data.data.equipped.value}} />
            </label>
        </div>
        <div class="actions">
            <a class="item-edit action" title="{{localize "tor2e.sheet.skill.edit"}}">
                <i class="fas fa-edit"></i>
            </a>
            <a class="item-delete action" title="{{localize "tor2e.sheet.skill.delete"}}">
                <i class="fas fa-trash"></i>
            </a>
        </div>
    </div>
    <div class="editor-container-toggelable flexcol">
        {{editor content=this.data.data.description.value target="this.data.description.value" button=true owner=isOwner
                 editable=false}}
    </div>
</li>