<section id="heroic-stature" class="flexcol complex-stat-container">

    <h2 class="section-title">{{localize "tor2e.actors.sections.heroicStature"}}</h2>

    <div class="section-elements">
        {{> "systems/tor2e/templates/sheets/actors/components/stat-diamond-card.hbs"
                stat=data.stature.valour
                reference="data.stature.valour.value"
                favoured-reference="data.stature.valour.favoured.value"
                rollable=true}}

        {{> "systems/tor2e/templates/sheets/actors/components/stat-diamond-card.hbs"
                stat=data.stature.wisdom
                reference="data.stature.wisdom.value"
                favoured-reference="data.stature.wisdom.favoured.value"
                rollable=true}}
    </div>

</section>